body {
    -webkit-transition: background 0.5s linear !important;
    -moz-transition: background 0.5s linear !important;
    -o-transition: background 0.5s linear !important;
    transition: background 0.5s linear !important;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}